*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    background-color: black;
}

.bg-1 img{
    position: absolute;
    width: 1430px;
    height: 1093px;
    top: -239px;
    left: 0px;
}

.logo-1 h1{
    background: none;
   position: absolute;
   width: 70px;
   height: 70px;
   left: 50px;
   top: 10px;
   font-family: sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 75px;
   line-height: 169px;
   text-transform: capitalize;
   color: #E6FA00;
}

.menubar {
    display: inline;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    left: 467px;
    /* width: 246px; */
    /* right: 89px; */
    position: absolute;
    top: 58px;
}

.list {
    display: flex;
    list-style: none;
    width: 860px;
    justify-content: space-around;
    font-family: sans-serif;
    background-color: #152435;
    /* display: inline; */
}

.social-1 img:hover{
   cursor: pointer;
    color: #6de346;
}
.social-2 img:hover{
    cursor: pointer;
    color: #6de346;
}
.social-3 img:hover{
    cursor: pointer;
    color: #6de346;
}
.social-4 img:hover{
    cursor: pointer;
    color: #6de346;
}
.social-5 img:hover{
    cursor: pointer;
    color: #6de346;
}
.social-6 img:hover{
    cursor: pointer;
    color: #6de346;
}
.social-7 img:hover{
    cursor: pointer;
    color: #6de346;
}
.social-8 img:hover{
    cursor: pointer;
    color: #6de346;
}
.social-9 img:hover{
    cursor: pointer;
    color: #6de346;
}
/*.list-item a {
    width: 130px;
    text-decoration-line: blink;
    height: 44px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
   !* line-height: -22px;*!
    text-transform: capitalize;
    color: #ffffff;
    background-color: #2e2b3c;
}*/

.list-item a {
    /* width: 74px; */
    text-decoration-line: blink;
    /* height: 44px; */
    /* font-style: normal; */
    font-weight: bold;
    /* font-size: 15px; */
    /* text-transform: capitalize; */
    color: #ffffff;
    background-color: #152435;
}

.hey h1{
    position: absolute;
    width: 70px;
    height: 10px;
    left: 200px;
    top: 140px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    line-height: 75px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.name h1{
    background: none;
    position: absolute;
    width: 400px;
    height: 127px;
    Top: 162px;
    Left: 300px;
    font-family: 'Algerian';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 127px;
    text-transform: capitalize;
    color: #ffffff;
}

.name h2{
    background: none;
    position: absolute;
    width: 590px;
    height: 50px;
    Top: 240px;
    Left: 300px;
    font-family: 'Algerian';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 70px;
    text-transform: capitalize;
    color: #ffffff;
}

.pro-pic img {
    z-index: 1;
    margin: auto;
    position: absolute;
    display: flex;
    width: 230px;
    height: 272px;
    left: 70px;
    top: 405px;
    border-radius: 123px;
    overflow: visible;
}

.box-1 {
    position: absolute;
    width: 1362px;
    height: 200px;
    top: 582px;
    left: 40px;
    background: #FFFFFF;
    border-radius: 46px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.about p{
    position: absolute;
    width: 800px;
    height: 0px;
    left: 370px;
    top: 730px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;
    color: #000000;
}

.social-1 img{
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 1290px;
    top: 146px;
}

.social-2 img{
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 1290px;
    top: 214px;
}

.social-3 img{
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 1290px;
    top: 285px;
}

.social-4 img{
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 1290px;
    top: 356px;
}

.social-5 img{
    position: absolute;
    display: flex;
    width: 40px;
    height: 35px;
    left: 1290px;
    top: 430px;
}

.social-6 img{
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 1290px;
    top: 496px;
}

.social-7 img{
    position: absolute;
    display: flex;
    width: 40px;
    height: 30px;
    left: 1290px;
    top: 566px;
}

.social-8 img{
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 1290px;
    top: 622px;
}

.social-9 img{
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 1290px;
    top: 680px;
}

.header-1 h1 li dfn{
    position: absolute;
    width: 300px;
    height: 10px;
    top: 830px;
    left: 65px;
    font-family: sans-serif;
    font-size: 50px;
    line-height: 50px;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #FFFFFF;
}

.abd hr{
    height: 4px;
    background-color: white;
    position: relative;
    top: 833px;
    width: 1015px;
    left: 373px;
    color: #ffffff;
}

.box-2{
    position: absolute;
    animation-duration: 5s;
    animation-iteration-count: 100;
    animation-name: testOne;
    width: 655px;
    height: 500px;
    top: 950px;
    left: 43px;
    background-color: #332525;
    border-radius: 25px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.box-3{
    position: absolute;
    animation-duration: 5s;
    animation-iteration-count: 100;
    animation-name: testOne;
    width: 655px;
    height: 500px;
    top: 950px;
    left: 738px;
    background: #332525;
    border-radius: 25px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.data-1 h1{
    position: absolute;
    width: 100px;
    height: 0;
    top: 1003px;
    left: 100px;
    font-family: sans-serif;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.data-1 h2{
    position: absolute;
    width: 500px;
    height: 0;
    top: 1063px;
    left: 100px;
    font-family: sans-serif;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.data-1 h3{
    position: absolute;
    width: 500px;
    height: 0;
    top: 1125px;
    left: 100px;
    font-family: sans-serif;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.data-1 h4{
    position: absolute;
    width: 500px;
    height: 0;
    top: 1185px;
    left: 100px;
    font-family: sans-serif;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.data-1 h5{
    position: absolute;
    width: 500px;
    height: 0;
    top: 1248px;
    left: 100px;
    font-family: sans-serif;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.data-1 h6{
    position: absolute;
    width: 500px;
    height: 0;
    top: 1310px;
    left: 100px;
    font-family: sans-serif;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.data-1 h7{
    position: absolute;
    width: 500px;
    height: 0;
    top: 1378px;
    left: 100px;
    font-family: sans-serif;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}


.data-2 h1{
    position: absolute;
    width: 200px;
    height: 0;
    top: 1003px;
    left: 220px;
    font-family: sans-serif;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.data-2 h2{
    position: absolute;
    width: 500px;
    height: 0;
    top: 1063px;
    left: 220px;
    font-family: sans-serif;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.data-2 h3{
    position: absolute;
    width: 500px;
    height: 0;
    top: 1125px;
    left: 220px;
    font-family: sans-serif;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.data-2 h4{
    position: absolute;
    width: 500px;
    height: 0;
    top: 1185px;
    left: 220px;
    font-family: sans-serif;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.data-2 h5{
    position: absolute;
    width: 500px;
    height: 0;
    top: 1248px;
    left: 220px;
    font-family: sans-serif;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.data-2 h6{
    position: absolute;
    width: 500px;
    height: 0;
    top: 1310px;
    left: 220px;
    font-family: sans-serif;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.data-2 h7{
    position: absolute;
    width: 500px;
    height: 0;
    top: 1378px;
    left: 220px;
    font-family: sans-serif;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.data-3 p {
    position: absolute;
    width: 530px;
    height: 0;
    top: 991px;
    left: 822px;
    font-family: sans-serif;
    font-size: 34px;
    line-height: 35px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.box-4 {
    position: absolute;
    width: 420px;
    height: 75px;
    top: 1332px;
    left: 860px;
    border-radius: 30px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #F8F155;
}

.download a {
    background: none;
    position: absolute;
    text-decoration-line: blink;
    width: 274px;
    height: 40px;
    top: 1349px;
    left: 967px;
    font-size: 35px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: black;
}

.header-2 h1 li dfn {
    position: absolute;
    width: 550px;
    height: 10px;
    top: 1510px;
    left: 70px;
    font-family: sans-serif;
    font-size: 50px;
    line-height: 50px;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #FFFFFF;
}
.ed hr {
    height: 4px;
    background-color: white;
    position: relative;
    top: 1490px;
    width: 811px;
    left: 575px;
    color: #ffffff;
}


.box-5 {
    position: absolute;
    width: 1350px;
    height: 500px;
    top: 1625px;
    left: 43px;
    background: #265137;
    border-radius: 25px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.box-6{
    position: absolute;
    width: 500px;
    height: 80px;
    top: 1679px;
    left: 100px;
    border-radius: 0;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #ffffff;
}

.box-7 {
    position: absolute;
    width: 500px;
    height: 80px;
    top: 1832px;
    left: 100px;
    border-radius: 0;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #ffffff;
}

.box-8{
    position: absolute;
    width: 500px;
    height: 80px;
    top: 1985px;
    left: 100px;
    border-radius: 0;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #ffffff;
}

.data-4 h1 {
    position: absolute;
    width: 230px;
    height: 0;
    top: 1692px;
    left: 130px;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    color: #000000;
}

.data-4 h2 {
    position: absolute;
    width: 255px;
    height: 0;
    top: 1693px;
    left: 330px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: #000000;
}

.data-4 h3 {
    position: absolute;
    width: 480px;
    height: 0;
    top: 1722px;
    left: 114px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: #0028FA;
}

.data-5 h1 {
    position: absolute;
    width: 230px;
    height: 0;
    top: 1842px;
    left: 130px;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    color: #000000;
}

.data-5 h2 {
    position: absolute;
    width: 255px;
    height: 0;
    top: 1843px;
    left: 330px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: #000000;
}

.data-5 h3 {
    position: absolute;
    width: 480px;
    height: 0;
    top: 1873px;
    left: 130px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: #C30000;
}

.data-6 h1 {
    position: absolute;
    width: 230px;
    height: 0;
    top: 1995px;
    left: 130px;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    color: #000000;
}

.data-6 h2 {
    position: absolute;
    width: 255px;
    height: 0;
    top: 1995px;
    left: 330px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: #000000;
}

.data-6 h3 {
    position: absolute;
    width: 480px;
    height: 0;
    top: 2025px;
    left: 130px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: #148E0A;
}

.img-1 img {
    position: absolute;
    display: flex;
    width: 80px;
    height: 80px;
    left: 630px;
    top: 1679px;
}

.img-2 img {
    position: absolute;
    display: flex;
    width: 80px;
    height: 80px;
    left: 630px;
    top: 1833px;
}

.img-3 img {
    position: absolute;
    display: flex;
    width: 80px;
    height: 80px;
    left: 630px;
    top: 1986px;
}

.img-4 img {
    position: absolute;
    display: flex;
    width: 537px;
    height: 380px;
    left: 804px;
    top: 1680px;
}

.header-3 h1 li dfn {
    position: absolute;
    width: 200px;
    height: 10px;
    top: 2195px;
    left: 75px;
    font-family: sans-serif;
    font-size: 50px;
    line-height: 50px;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #FFFFFF;
}
.sk hr {
    height: 4px;
    background-color: white;
    position: relative;
    top: 2145px;
    width: 1092px;
    left: 292px;
    color: #ffffff;
}

.box-9 {
    animation-duration: 5s;
    animation-iteration-count: 100;
    animation-name: testOne;
    position: absolute;
    width: 1350px;
    height: 641px;
    top: 2301px;
    left: 43px;
    background: #502828;
    border-radius: 25px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.s-header-1 h1 {
    position: absolute;
    width: 300px;
    height: 0px;
    top: 2318px;
    left: 620px;
    font-family: sans-serif;
    font-size: 50px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.skill-1 img {
    z-index: 1;
    position: absolute;
    height: 426px;
    width: 427px;
    left: 534px;
    top: 2400px;
    border-radius: 0px;
}

.skill-2 img {
    position: absolute;
    height: 252px;
    width: 300px;
    left: 1050px;
    top: 2487px;
    border-radius: 0px;
}

.skill-3 img {
    position: absolute;
    height: 236px;
    width: 300px;
    left: 113px;
    top: 2500px;
    border-radius: 0px;
}

.skill-4 img {
    position: absolute;
    height: 321px;
    width: 303px;
    left: 906px;
    top: 2455px;
    border-radius: 0px;
}

.skill-5 img {
    position: absolute;
    height: 300px;
    width: 300px;
    left: 298px;
    top: 2470px;
    border-radius: 0px;
}

.s-header-2 h1 {
    position: absolute;
    width: 300px;
    height: 0px;
    top: 2850px;
    left: 624px;
    font-family: sans-serif;
    font-size: 35px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}
.s1-header-3 h1 {
    position: absolute;
    width: 300px;
    height: 0px;
    top: 2825px;
    left: 362px;
    font-family: sans-serif;
    font-size: 35px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.s1-header-4 h1 {
    position: absolute;
    width: 300px;
    height: 0px;
    top: 2823px;
    left: 1033px;
    font-family: sans-serif;
    font-size: 35px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}
.s1-header-5 h1 {
    position: absolute;
    width: 300px;
    height: 0px;
    top: 2777px;
    left: 105px;
    font-family: sans-serif;
    font-size: 35px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}
.s1-header-6 h1 {
    position: absolute;
    height: 0px;
    top: 2784px;
    left: 1212px;
    font-family: sans-serif;
    font-size: 35px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.header-4 h1 li dfn {
    position: absolute;
    width: 400px;
    height: 10px;
    top: 3020px;
    left: 100px;
    font-family: sans-serif;
    font-size: 50px;
    line-height: 50px;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #FFFFFF;
}

.asd hr {
    height: 4px;
    background-color: white;
    position: relative;
    top: 2945px;
    width: 891px;
    left: 487px;
    color: #ffffff;
}

.bg-2 img {
    position: absolute;
    width: 1351px;
    height: 700px;
    top: 3150px;
    mix-blend-mode: screen;
    left: 40px;
    border-radius: 30px;
    filter: brightness(0.5);
}

.assignment-1 img {
    background: none;
    position: absolute;
    height: 140px;
    width: 130px;
    left: 200px;
    top: 3280px;
    border-radius: 0px;
}
.assignment-1 h1 {
    position: absolute;
    width: 300px;
    height: 0px;
    top: 3450px;
    left: 176px;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.assignment-2 img {
    background: none;
    position: absolute;
    height: 140px;
    width: 130px;
    left: 501px;
    top: 3280px;
    border-radius: 0px;
}
.assignment-2 h1 {
    position: absolute;
    width: 300px;
    height: 0px;
    top: 3450px;
    left: 494px;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.assignment-3 img {
    background: none;
    position: absolute;
    height: 140px;
    width: 130px;
    left: 800px;
    top: 3280px;
    border-radius: 0px;
}
.assignment-3 h1 {
    position: absolute;
    width: 300px;
    height: 0px;
    top: 3450px;
    left: 772px;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.assignment-4 img {
    background: none;
    position: absolute;
    height: 140px;
    width: 130px;
    left: 1100px;
    top: 3280px;
    border-radius: 0px;
}
.assignment-4 h1 {
    position: absolute;
    width: 300px;
    height: 0px;
    top: 3450px;
    left: 1100px;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.box-10 {
    position: absolute;
    width: 150px;
    height: 40px;
    top: 3605px;
    left: 1097px;
    border-radius: 10px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #c92727;
}
.view-1 a {
    background: none;
    text-decoration-line: blink;
    position: absolute;
    width: 46px;
    height: 25px;
    top: 3613px;
    left: 1148px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ffffff;
}

.box-11 {
    position: absolute;
    width: 150px;
    height: 40px;
    top: 3605px;
    left: 800px;
    border-radius: 10px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #d14f4f;
}
.view-2 a {
    background: none;
    position: absolute;
    text-decoration-line: blink;
    width: 46px;
    height: 25px;
    top: 3614px;
    left: 853px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ffffff;
}

.box-12 {
    position: absolute;
    width: 150px;
    height: 40px;
    top: 3605px;
    left: 500px;
    border-radius: 10px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #c16363;
}
.view-3 a {
    background: none;
    position: absolute;
    text-decoration-line: blink;
    width: 46px;
    height: 25px;
    top: 3613px;
    left: 550px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ffffff;
}

.box-13 {
    position: absolute;
    width: 150px;
    height: 40px;
    top: 3605px;
    left: 188px;
    border-radius: 10px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #DF9191;
}
.view-4 a {
    background: none;
    position: absolute;
    width: 46px;
    height: 25px;
    top: 3613px;
    left: 240px;
    text-decoration-line: blink;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ffffff;
}

.header-5 h1 li dfn {
    position: absolute;
    width: 300px;
    height: 10px;
    top: 3924px;
    left: 100px;
    font-family: sans-serif;
    font-size: 50px;
    line-height: 50px;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #FFFFFF;
}

.pro hr {
    height: 4px;
    background-color: white;
    position: relative;
    top: 3830px;
    width: 1015px;
    left: 373px;
    color: #ffffff;
}

.bg-3 img {
    position: absolute;
    width: 1370px;
    height: 700px;
    top: 4050px;
    left: 29px;
    border-radius: 30px;
    filter: brightness(0.5);
}

.project-1 img {
    background: none;
    position: absolute;
    height: 140px;
    width: 130px;
    left: 200px;
    top: 4180px;
    border-radius: 0px;
}
.project-1 h1 {
    position: absolute;
    width: 300px;
    height: 0px;
    top: 4350px;
    left: 169px;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.project-2 img{
    background: none;
    position: absolute;
    height: 140px;
    width: 130px;
    left: 500px;
    top: 4180px;
    border-radius: 0px;
}
.project-2 h1 {
    position: absolute;
    width: 300px;
    height: 0px;
    top: 4350px;
    left: 496px;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.project-3 img{
    background: none;
    position: absolute;
    height: 140px;
    width: 130px;
    left: 800px;
    top: 4180px;
    border-radius: 0px;
}
.project-3 h1 {
    position: absolute;
    width: 300px;
    height: 0px;
    top: 4350px;
    left: 768px;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.project-4 img{
    background: none;
    position: absolute;
    height: 140px;
    width: 130px;
    left: 1100px;
    top: 4180px;
    border-radius: 0px;
}
.project-4 h1{ 
    position: absolute;
    width: 200px;
    height: 0px;
    top: 4350px;
    left: 1100px;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.box-14 {
    position: absolute;
    width: 150px;
    height: 40px;
    top: 4500px;
    left: 1100px;
    border-radius: 10px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #bb1515;
}
.view-5 a {
    background: none;
    position: absolute;
    width: 46px;
    height: 25px;
    top: 4507px;
    left: 1145px;
    text-decoration-line: blink;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ffffff;
}

.box-15 {
    position: absolute;
    width: 150px;
    height: 40px;
    top: 4500px;
    left: 800px;
    border-radius: 10px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #c33737;
}
.view-6 a {
    background: none;
    position: absolute;
    width: 46px;
    height: 25px;
    top: 4507px;
    left: 850px;
    text-decoration-line: blink;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ffffff;
}

.box-16 {
    position: absolute;
    width: 150px;
    height: 40px;
    top: 4500px;
    left: 500px;
    border-radius: 10px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #ad5454;
}
.view-7 a {
    background: none;
    text-decoration-line: blink;
    position: absolute;
    width: 46px;
    height: 25px;
    top: 4506px;
    left: 549px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ffffff;
}

.box-17 {
    position: absolute;
    width: 150px;
    height: 40px;
    top: 4500px;
    left: 175px;
    border-radius: 10px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #DF9191;
}
.view-8 a {
    background: none;
    position: absolute;
    width: 46px;
    height: 25px;
    top: 4507px;
    left: 225px;
    text-decoration-line: blink;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ffffff;
}

.header-6 h1 li dfn {
    position: absolute;
    width: 300px;
    height: 10px;
    top: 4809px;
    left: 100px;
    font-family: sans-serif;
    font-size: 50px;
    line-height: 50px;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #FFFFFF;
}

.act hr {
    height: 4px;
    background-color: white;
    position: relative;
    top: 4685px;
    width: 1015px;
    left: 373px;
    color: #ffffff;
}

.bg-4 img {
    position: absolute;
    width: 1362px;
    height: 650px;
    top: 4933px;
    left: 32px;
    border-radius: 30px;
    filter: brightness(0.5);
}

.Activities-1 img{
    background: none;
    position: absolute;
    height: 140px;
    width: 135px;
    left: 200px;
    top: 5100px;
    border-radius: 0px;
}
.Activities-1 h1{ 
    position: absolute;
    width: 300px;
    height: 0px;
    top: 5250px;
    left: 160px;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.Activities-2 img{
    background: none;
    position: absolute;
    height: 140px;
    width: 135px;
    left: 500px;
    top: 5100px;
    border-radius: 0px;
}
.Activities-2 h1{ 
    position: absolute;
    width: 300px;
    height: 0px;
    top: 5250px;
    left: 450px;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.Activities-3 img{
    background: none;
    position: absolute;
    height: 140px;
    width: 135px;
    left: 800px;
    top: 5100px;
    border-radius: 0px;
}
.Activities-3 h1{ 
    position: absolute;
    width: 300px;
    height: 0px;
    top: 5250px;
    left: 760px;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.Activities-4 img{
    background: none;
    position: absolute;
    height: 140px;
    width: 135px;
    left: 1100px;
    top: 5100px;
    border-radius: 0px;
}
.Activities-4 h1{ 
    position: absolute;
    width: 200px;
    height: 0px;
    top: 5250px;
    left: 1060px;
    font-family: sans-serif;
    font-size: 30px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}
.box-18 {
    position: absolute;
    width: 150px;
    height: 40px;
    top: 5395px;
    left: 1097px;
    border-radius: 10px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #c72020;
}
.view-9 a {
    background: none;
    position: absolute;
    width: 46px;
    height: 25px;
    top: 5403px;
    text-decoration-line: blink;
    left: 1149px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ffffff;
}

.box-19 {
    position: absolute;
    width: 150px;
    height: 40px;
    top: 5395px;
    left: 800px;
    border-radius: 10px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #ed4545;
}
.view-10 a {
    background: none;
    position: absolute;
    width: 46px;
    height: 25px;
    text-decoration-line: blink;
    top: 5402px;
    left: 850px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ffffff;
}

.box-20 {
    position: absolute;
    width: 150px;
    height: 40px;
    top: 5395px;
    left: 500px;
    border-radius: 10px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #eb6262;
}
.view-11 a {
    background: none;
    position: absolute;
    width: 46px;
    height: 25px;
    top: 5403px;
    left: 551px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration-line: blink;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ffffff;
}

.box-21 {
    position: absolute;
    width: 150px;
    height: 40px;
    top: 5395px;
    left: 200px;
    border-radius: 10px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #DF9191;
}
.view-12 a {
    background: none;
    position: absolute;
    width: 46px;
    text-decoration-line: blink;
    height: 25px;
    top: 5403px;
    left: 252px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #ffffff;
}

.social-10 img {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 120px;
    top: 5670px;
}

.social-10 hr {
    transform: rotate(
            90deg);
    position: relative;
    top: 5590px;
    width: 39px;
    left: 162px;
    color: #ffffff;
}

.social-10 h1 {
    position: absolute;
    width: 200px;
    height: 0px;
    top: 5666px;
    left: 246px;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.social-11 img {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 120px;
    top: 5731px;
}
.social-11 hr {
    transform: rotate(
            90deg);
    position: relative;
    top: 5650px;
    width: 39px;
    left: 162px;
    color: #ffffff;
}

.social-11 h1 {
    position: absolute;
    width: 200px;
    height: 0px;
    top: 5724px;
    left: 246px;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.social-12 img {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 120px;
    top: 5793px;
}

.social-12 hr {
    transform: rotate(
            90deg);
    position: relative;
    top: 5525px;
    width: 39px;
    left: 162px;
    color: #ffffff;
}
.social-12 h1 {
    position: absolute;
    width: 200px;
    height: 0px;
    top: 5784px;
    left: 246px;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.social-13 img {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 120px;
    top: 5857px;
}

.social-13 hr {
    transform: rotate(
            90deg);
    position: relative;
    top: 5710px;
    width: 39px;
    left: 162px;
    color: #ffffff;
}

.social-13 h1 {
    position: absolute;
    width: 200px;
    height: 0px;
    top: 5850px;
    left: 240px;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.social-14 img {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 120px;
    top: 5919px;
}

.social-14 hr {
    transform: rotate(
            90deg);
    position: relative;
    top: 5770px;
    width: 39px;
    left: 162px;
    color: #ffffff;
}

.social-14 h1 {
    position: absolute;
    width: 250px;
    height: 0px;
    top: 5910px;
    left: 250px;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.s-header-3 h1 {
    position: absolute;
    width: 300px;
    height: 0px;
    top: 5658px;
    left: 801px;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.box-22 {
    position: absolute;
    width: 556px;
    height: 150px;
    top: 5707px;
    left: 842px;
    border-radius: 0px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    background: #423d3d;
}

.msg h1 {
    position: absolute;
    width: 500px;
    height: 0px;
    font-size: 20px;
    font-family: sans-serif;
    top: 5696px;
    left: 848px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}

.pin img {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 1255px;
    top: 5869px;
    cursor: pointer;
}

.send img {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    left: 1320px;
    top: 5869px;
    cursor: pointer;
}

.logo-2 h1 {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 679px;
    top: 5945px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 169px;
    text-transform: capitalize;
    color: #E6FA00;
}

.end h1 {
    position: absolute;
    width: 500px;
    height: 0px;
    font-size: 20px;
    font-family: sans-serif;
    top: 6061px;
    left: 630px;
    line-height: 50px;
    text-transform: capitalize;
    color: #ffffff;
}