/*
@media all and (max-width: 375px) {
    .logo-1 h1 {
        background: none;
        position: absolute;
        width: 70px;
        height: 70px;
        left: 580px;
        top: 10px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 75px;
        line-height: 169px;
        text-transform: capitalize;
        color: #E6FA00;
    }
    .bg-1 img {
        position: absolute;
        width: 1270px;
        height: 930px;
        top: -169px;
        left: 0px;
    }
    .list {
        position: absolute;
        display: flex;
        list-style: none;
        width: 860px;
        justify-content: space-around;
        font-family: sans-serif;
        background-color: black;
        !* display: inline; *!
        right: -599px;
        top: 100px;
    }
    .pro-pic img {
        z-index: 1;
        margin: auto;
        position: absolute;
        display: flex;
        width: 230px;
        height: 266px;
        left: 80px;
        top: 417px;
        border-radius: 123px;
        overflow: visible;
    }

    .hey h1 {
        position: absolute;
        width: 70px;
        height: 10px;
        left: 151px;
        top: 212px;
        font-family: sans-serif;
        font-style: italic;
        font-weight: bold;
        font-size: 40px;
        line-height: 75px;
        text-transform: capitalize;
        color: #FFFFFF;
    }
    .name h1 {
        background: none;
        position: absolute;
        width: 400px;
        height: 127px;
        Top: 228px;
        Left: 334px;
        font-family: 'Algerian';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 127px;
        text-transform: capitalize;
        color: #ffffff;
    }
    .name h2 {
        background: none;
        position: absolute;
        width: 590px;
        height: 50px;
        Top: 318px;
        Left: 335px;
        font-family: 'Algerian';
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 70px;
        text-transform: capitalize;
        color: #ffffff;
    }
    .box-1 {
        position: absolute;
        width: 845px;
        height: 219px;
        top: 432px;
        left: 384px;
        background: #FFFFFF;
        border-radius: 46px;
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .social-1 img {
        position: absolute;
        display: flex;
        width: 40px;
        height: 40px;
        left: 436px;
        top: 700px;
    }
    .about p {
        position: absolute;
        width: 808px;
        height: 0px;
        left: 409px;
        top: 626px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 33px;
        line-height: 25px;
        display: flex;
        align-items: flex-end;
        text-transform: capitalize;
        color: #000000;
    }
    .social-2 img {
        position: absolute;
        display: flex;
        width: 40px;
        height: 40px;
        left: 519px;
        top: 701px;
    }
    .social-3 img {
        position: absolute;
        display: flex;
        width: 40px;
        height: 40px;
        left: 621px;
        top: 700px;
    }
    .social-4 img {
        position: absolute;
        display: flex;
        width: 40px;
        height: 40px;
        left: 772px;
        top: 700px;
    }
    .social-5 img {
        position: absolute;
        display: flex;
        width: 40px;
        height: 35px;
        left: 849px;
        top: 700px;
    }
    .social-6 img {
        position: absolute;
        display: flex;
        width: 40px;
        height: 40px;
        left: 930px;
        top: 700px;
    }
    .social-7 img {
        position: absolute;
        display: flex;
        width: 40px;
        height: 30px;
        left: 994px;
        top: 700px;
    }
    .social-8 img {
        position: absolute;
        display: flex;
        width: 40px;
        height: 40px;
        left: 1089px;
        top: 700px;
    }
    .social-9 img {
        position: absolute;
        display: flex;
        width: 40px;
        height: 40px;
        left: 1170px;
        top: 700px;
    }
    .abd hr {
        height: 4px;
        background-color: white;
        position: relative;
        top: 833px;
        width: 841px;
        left: 373px;
        color: #ffffff;
    }
    .img-4 img {
        position: absolute;
        display: flex;
        width: 537px;
        height: 0px;
        left: 804px;
        top: 1680px;
    }
    .box-5 {
        position: absolute;
        width: 1182px;
        height: 500px;
        top: 1625px;
        left: 43px;
        background: #265137;
        border-radius: 25px;
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .box-2 {
        position: absolute;
        width: 570px;
        height: 500px;
        top: 950px;
        left: 43px;
        background: #332525;
        border-radius: 25px;
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .box-3 {
        position: absolute;
        width: 570px;
        height: 500px;
        top: 950px;
        left: 662px;
        background: #332525;
        border-radius: 25px;
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .data-3 p {
        position: absolute;
        width: 515px;
        height: 0;
        top: 991px;
        left: 697px;
        font-family: sans-serif;
        font-size: 34px;
        line-height: 35px;
        text-transform: capitalize;
        color: #FFFFFF;
    }
    .data-2 h3 {
        position: absolute;
        width: 301px;
        height: 0;
        top: 1125px;
        left: 220px;
        font-family: sans-serif;
        line-height: 25px;
        text-transform: capitalize;
        color: #FFFFFF;
    }
    .data-2 h4 {
        position: absolute;
        width: 353px;
        height: 0;
        top: 1185px;
        left: 220px;
        font-family: sans-serif;
        line-height: 25px;
        text-transform: capitalize;
        color: #FFFFFF;
    }
    .box-4 {
        position: absolute;
        width: 420px;
        height: 75px;
        top: 1332px;
        left: 740px;
        border-radius: 30px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        background: #F8F155;
    }
    .download a {
        background: none;
        position: absolute;
        text-decoration-line: blink;
        width: 274px;
        height: 40px;
        top: 1349px;
        left: 842px;
        font-size: 35px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #ffffff;
    }
    .ed hr {
        height: 4px;
        background-color: white;
        position: relative;
        top: 1490px;
        width: 639px;
        left: 575px;
        color: #ffffff;
    }
    .img-1 img {
        position: absolute;
        display: flex;
        width: 80px;
        height: 80px;
        left: 1083px;
        top: 1679px;
    }
    .img-2 img {
        position: absolute;
        display: flex;
        width: 80px;
        height: 80px;
        left: 854px;
        top: 1833px;
    }
    .img-3 img {
        position: absolute;
        display: flex;
        width: 80px;
        height: 80px;
        left: 641px;
        top: 1986px;
    }
    .box-6 {
        position: absolute;
        width: 500px;
        height: 80px;
        top: 1679px;
        left: 537px;
        border-radius: 0;
        transform: matrix(1, 0, 0, -1, 0, 0);
        background: #ffffff;
    }
    .box-7 {
        position: absolute;
        width: 500px;
        height: 80px;
        top: 1832px;
        left: 310px;
        border-radius: 0;
        transform: matrix(1, 0, 0, -1, 0, 0);
        background: #ffffff;
    }
    .box-8 {
        position: absolute;
        width: 500px;
        height: 80px;
        top: 1985px;
        left: 100px;
        border-radius: 0;
        transform: matrix(1, 0, 0, -1, 0, 0);
        background: #ffffff;
    }
    .data-4 h1 {
        position: absolute;
        width: 230px;
        height: 0;
        top: 1692px;
        left: 556px;
        font-family: sans-serif;
        font-size: 20px;
        text-transform: capitalize;
        color: #000000;
    }
    .data-4 h2 {
        position: absolute;
        width: 255px;
        height: 0;
        top: 1691px;
        left: 749px;
        font-family: sans-serif;
        font-weight: bold;
        text-transform: capitalize;
        color: #000000;
    }
    .data-4 h3 {
        position: absolute;
        width: 480px;
        height: 0;
        top: 1722px;
        left: 551px;
        font-family: sans-serif;
        text-transform: capitalize;
        color: #0028FA;
    }
    .data-5 h1 {
        position: absolute;
        width: 230px;
        height: 0;
        top: 1842px;
        left: 322px;
        font-family: sans-serif;
        font-size: 20px;
        text-transform: capitalize;
        color: #000000;
    }
    .data-5 h2 {
        position: absolute;
        width: 255px;
        height: 0;
        top: 1843px;
        left: 522px;
        font-family: sans-serif;
        font-weight: bold;
        text-transform: capitalize;
        color: #000000;
    }
    .data-5 h3 {
        position: absolute;
        width: 480px;
        height: 0;
        top: 1873px;
        left: 325px;
        font-family: sans-serif;
        text-transform: capitalize;
        color: #C30000;
    }
    .sk hr {
        height: 4px;
        background-color: white;
        position: relative;
        top: 2145px;
        width: 925px;
        left: 292px;
        color: #ffffff;
    }
    .box-9 {
        position: absolute;
        width: 1190px;
        height: 641px;
        top: 2301px;
        left: 43px;
        background: #502828;
        border-radius: 25px;
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .s-header-1 h1 {
        position: absolute;
        width: 300px;
        height: 0px;
        top: 2318px;
        left: 505px;
        font-family: sans-serif;
        font-size: 50px;
        line-height: 50px;
        text-transform: capitalize;
        color: #ffffff;
    }
    .s-header-2 h1 {
        position: absolute;
        width: 300px;
        height: 0px;
        top: 2850px;
        left: 508px;
        font-family: sans-serif;
        font-size: 35px;
        line-height: 50px;
        text-transform: capitalize;
        color: #ffffff;
    }
    .skill-1 img {
        z-index: 1;
        position: absolute;
        height: 426px;
        width: 427px;
        left: 417px;
        top: 2400px;
        border-radius: 0px;
    }
    .skill-2 img {
        position: absolute;
        height: 252px;
        width: 300px;
        left: 822px;
        top: 2487px;
        border-radius: 0px;
    }
    .skill-3 img {
        position: absolute;
        height: 236px;
        width: 300px;
        left: 162px;
        top: 2500px;
        border-radius: 0px;
    }
    .skill-4 img {
        position: absolute;
        height: 321px;
        width: 303px;
        left: 848px;
        top: 2455px;
        border-radius: 0px;
    }
    .skill-5 img {
        position: absolute;
        height: 300px;
        width: 300px;
        left: 127px;
        top: 2470px;
        border-radius: 0px;
    }
    .asd hr {
        height: 4px;
        background-color: white;
        position: relative;
        top: 2983px;
        width: 740px;
        left: 487px;
        color: #ffffff;
    }
    .bg-2 img {
        position: absolute;
        width: 1190px;
        height: 700px;
        top: 3150px;
        mix-blend-mode: screen;
        left: 40px;
        border-radius: 30px;
    }
    .assignment-2 img {
        background: none;
        position: absolute;
        height: 140px;
        width: 130px;
        left: 454px;
        top: 3300px;
        border-radius: 0px;
    }
    .assignment-2 h1 {
        position: absolute;
        width: 300px;
        height: 0px;
        top: 3450px;
        left: 477px;
        font-family: sans-serif;
        font-size: 30px;
        line-height: 50px;
        text-transform: capitalize;
        color: #ffffff;
    }
    .box-12 {
        position: absolute;
        width: 150px;
        height: 40px;
        top: 3605px;
        left: 448px;
        border-radius: 10px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        background: #c16363;
    }
    .view-3 a {
        background: none;
        position: absolute;
        text-decoration-line: blink;
        width: 46px;
        height: 25px;
        top: 3613px;
        left: 494px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #ffffff;
    }
    .assignment-3 img {
        background: none;
        position: absolute;
        height: 140px;
        width: 130px;
        left: 727px;
        top: 3300px;
        border-radius: 0px;
    }
    .assignment-3 h1 {
        position: absolute;
        width: 300px;
        height: 0px;
        top: 3450px;
        left: 760px;
        font-family: sans-serif;
        font-size: 30px;
        line-height: 50px;
        text-transform: capitalize;
        color: #ffffff;
    }
    .box-11 {
        position: absolute;
        width: 150px;
        height: 40px;
        top: 3605px;
        left: 721px;
        border-radius: 10px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        background: #d14f4f;
    }
    .view-2 a {
        background: none;
        position: absolute;
        text-decoration-line: blink;
        width: 46px;
        height: 25px;
        top: 3614px;
        left: 765px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #ffffff;
    }
    .assignment-4 img {
        background: none;
        position: absolute;
        height: 140px;
        width: 130px;
        left: 1002px;
        top: 3300px;
        border-radius: 0px;
    }
    .assignment-4 h1 {
        position: absolute;
        width: 300px;
        height: 0px;
        top: 3450px;
        left: 1005px;
        font-family: sans-serif;
        font-size: 30px;
        line-height: 50px;
        text-transform: capitalize;
        color: #ffffff;
    }
    .box-10 {
        position: absolute;
        width: 150px;
        height: 40px;
        top: 3605px;
        left: 1004px;
        border-radius: 10px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        background: #c92727;
    }
    .view-1 a {
        background: none;
        text-decoration-line: blink;
        position: absolute;
        width: 46px;
        height: 25px;
        top: 3613px;
        left: 1049px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #ffffff;
    }
    .pro hr {
        height: 4px;
        background-color: white;
        position: relative;
        top: 3830px;
        width: 855px;
        left: 373px;
        color: #ffffff;
    }
    .bg-3 img {
        position: absolute;
        width: 1200px;
        height: 700px;
        top: 4050px;
        left: 29px;
        border-radius: 30px;
    }
    .project-1 img {
        background: none;
        position: absolute;
        height: 140px;
        width: 130px;
        left: 174px;
        top: 4200px;
        border-radius: 0px;
    }
    .project-1 h1 {
        position: absolute;
        width: 300px;
        height: 0px;
        top: 4350px;
        left: 160px;
        font-family: sans-serif;
        font-size: 30px;
        line-height: 50px;
        text-transform: capitalize;
        color: #ffffff;
    }
    .project-2 img {
        background: none;
        position: absolute;
        height: 140px;
        width: 130px;
        left: 471px;
        top: 4200px;
        border-radius: 0px;
    }
    .project-2 h1 {
        position: absolute;
        width: 300px;
        height: 0px;
        top: 4350px;
        left: 495px;
        font-family: sans-serif;
        font-size: 30px;
        line-height: 50px;
        text-transform: capitalize;
        color: #ffffff;
    }
    .view-7 a {
        background: none;
        text-decoration-line: blink;
        position: absolute;
        width: 46px;
        height: 25px;
        top: 4506px;
        left: 513px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #ffffff;
    }
    .box-16 {
        position: absolute;
        width: 150px;
        height: 40px;
        top: 4500px;
        left: 468px;
        border-radius: 10px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        background: #ad5454;
    }
    .project-3 img {
        background: none;
        position: absolute;
        height: 140px;
        width: 130px;
        left: 750px;
        top: 4200px;
        border-radius: 0px;
    }
    .project-3 h1 {
        position: absolute;
        width: 300px;
        height: 0px;
        top: 4350px;
        left: 787px;
        font-family: sans-serif;
        font-size: 30px;
        line-height: 50px;
        text-transform: capitalize;
        color: #ffffff;
    }
    .view-6 a {
        background: none;
        position: absolute;
        width: 46px;
        height: 25px;
        top: 4507px;
        left: 793px;
        text-decoration-line: blink;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #ffffff;
    }
    .box-15 {
        position: absolute;
        width: 150px;
        height: 40px;
        top: 4500px;
        left: 747px;
        border-radius: 10px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        background: #c33737;
    }
    .project-4 img {
        background: none;
        position: absolute;
        height: 140px;
        width: 130px;
        left: 1034px;
        top: 4200px;
        border-radius: 0px;
    }
    .project-4 h1 {
        position: absolute;
        width: 200px;
        height: 0px;
        top: 4350px;
        left: 1052px;
        font-family: sans-serif;
        font-size: 30px;
        line-height: 50px;
        text-transform: capitalize;
        color: #ffffff;
    }
    .view-5 a {
        background: none;
        position: absolute;
        width: 46px;
        height: 25px;
        top: 4507px;
        left: 1086px;
        text-decoration-line: blink;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #ffffff;
    }
    .box-14 {
        position: absolute;
        width: 150px;
        height: 40px;
        top: 4500px;
        left: 1036px;
        border-radius: 10px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        background: #bb1515;
    }
    .act hr {
        height: 4px;
        background-color: white;
        position: relative;
        top: 4671px;
        width: 860px;
        left: 373px;
        color: #ffffff;
    }
    .bg-4 img {
        position: absolute;
        width: 1210px;
        height: 650px;
        top: 4933px;
        left: 32px;
        border-radius: 30px;
    }
    .Activities-2 img {
        background: none;
        position: absolute;
        height: 140px;
        width: 135px;
        left: 454px;
        top: 5100px;
        border-radius: 0px;
    }
    .Activities-2 h1 {
        position: absolute;
        width: 300px;
        height: 0px;
        top: 5250px;
        left: 426px;
        font-family: sans-serif;
        font-size: 30px;
        line-height: 50px;
        text-transform: capitalize;
        color: #ffffff;
    }
    .box-20 {
        position: absolute;
        width: 150px;
        height: 40px;
        top: 5395px;
        left: 455px;
        border-radius: 10px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        background: #eb6262;
    }
    .view-11 a {
        background: none;
        position: absolute;
        width: 46px;
        height: 25px;
        top: 5403px;
        left: 500px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration-line: blink;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #ffffff;
    }
    .Activities-3 img {
        background: none;
        position: absolute;
        height: 140px;
        width: 135px;
        left: 714px;
        top: 5100px;
        border-radius: 0px;
    }
    .Activities-3 h1 {
        position: absolute;
        width: 300px;
        height: 0px;
        top: 5250px;
        left: 691px;
        font-family: sans-serif;
        font-size: 30px;
        line-height: 50px;
        text-transform: capitalize;
        color: #ffffff;
    }
    .box-19 {
        position: absolute;
        width: 150px;
        height: 40px;
        top: 5395px;
        left: 716px;
        border-radius: 10px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        background: #ed4545;
    }
    .view-10 a {
        background: none;
        position: absolute;
        width: 46px;
        height: 25px;
        text-decoration-line: blink;
        top: 5402px;
        left: 767px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #ffffff;
    }
    .Activities-4 img {
        background: none;
        position: absolute;
        height: 140px;
        width: 135px;
        left: 954px;
        top: 5100px;
        border-radius: 0px;
    }
    .Activities-4 h1 {
        position: absolute;
        width: 200px;
        height: 0px;
        top: 5250px;
        left: 952px;
        font-family: sans-serif;
        font-size: 30px;
        line-height: 50px;
        text-transform: capitalize;
        color: #ffffff;
    }
    .box-18 {
        position: absolute;
        width: 150px;
        height: 40px;
        top: 5395px;
        left: 966px;
        border-radius: 10px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        background: #c72020;
    }
    .view-9 a {
        background: none;
        position: absolute;
        width: 46px;
        height: 25px;
        top: 5403px;
        text-decoration-line: blink;
        left: 1018px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #ffffff;
    }
    .s-header-3 h1 {
        position: absolute;
        width: 300px;
        height: 0px;
        top: 5658px;
        left: 600px;
        font-family: sans-serif;
        font-size: 20px;
        line-height: 50px;
        text-transform: capitalize;
        color: #ffffff;
    }
    .box-22 {
        position: absolute;
        width: 556px;
        height: 150px;
        top: 5707px;
        left: 672px;
        border-radius: 0px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        background: #423d3d;
    }
    .msg h1 {
        position: absolute;
        width: 500px;
        height: 0px;
        font-size: 20px;
        font-family: sans-serif;
        top: 5696px;
        left: 682px;
        line-height: 50px;
        text-transform: capitalize;
        color: #ffffff;
    }
    .pin img {
        position: absolute;
        display: flex;
        width: 40px;
        height: 40px;
        left: 1097px;
        top: 5869px;
    }
    .send img {
        position: absolute;
        display: flex;
        width: 40px;
        height: 40px;
        left: 1147px;
        top: 5869px;
    }
}*/
